@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    .bn-block-content[data-is-empty-and-focused] {
        opacity: .5;
    }

    .bn-container {
        border-radius: 10px;
    }

    [data-color-scheme="dark"] .bn-container {
        min-height: 25vh;
        background-color: #374151;
    }

    [data-color-scheme="light"] .bn-container {
        min-height: 25vh;
        background-color: #ffffff;
    }
}